#topbar{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
}

#topitem{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: aliceblue;
    text-align: center;
    margin: auto;
}

#navbar{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
    background-color: rgb(3, 3, 77);
    margin-top: 0.5em;
}

#navitem{
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-weight: bolder;
}

#main{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
    margin-top: 0.5em;
}

#side{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#mainbody{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    padding-top: 15px;
}

#mainitem{
    margin: 0.1em;
}

#label, #maritalLabel{    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-left: 20px;
    color: aliceblue;
}

.box{
    position: relative;
    width: 200px;
    border: none;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
}

body{
    background-color: dimgrey;
}

h1, h2, h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: aliceblue;
    text-align: center;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: justify;
    padding: 15px;
}

a{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}

a:hover{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color:rgb(46, 46, 77);
    text-align: center;
    text-decoration: none;
}

footer{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
    background-color: rgb(3, 3, 77);
    margin-top: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
}

#foot{
    padding: 5px;
}